* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'poppins', sans-serif;
    color: #f0f0f0;
    line-height: 1.6;
    background-color: #f1f8ff;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 10px;
    font-size: 16px;
    padding-top: 20px;
}

main {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: column;
}

h1 {
    color: #0f3a4f;
    font-size: 3rem;
    letter-spacing: 3px;
    text-shadow: 2px 2px 8px rgba(0, 0, 180, 0.6);
    text-transform: uppercase;
    font-weight: 700;
}

h2, h3 {
    color: #0f3a4f;
    line-height: 1.2;
    margin-bottom: 0.5em;
}

p {
    margin-bottom: 1em;
    color: black;
    font-size: 1.2rem;   
}

article {
    background-color: rgb(231, 236, 250);
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    flex: 2;
}

article:hover {
    box-shadow: 0 5px 20px rgba(100, 150, 255, 1);
}

aside {
    flex: 1;
    background-color: #537293;
    border: 1px solid #9ce; 
    padding: 20px;
    border-radius: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.grid-container .item {
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 0 5px rgba(100, 150, 255, 1);
    text-align: center;
    border-radius: 10px;
    transition: box-shadow 0.5s ease;
    margin-bottom: 20px;
}

.grid-container .item:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 139, 0.8);
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
    main {
        flex-direction: column;
    }
}

@media (min-width:768px) {
    main {
        flex-direction: row;
    }
}

@media (min-width:1024px) {
    main {
        max-width: 1200px;
        margin: auto;
    }
    body {
        font-size: 18px;
    }
    .grid-container {
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }
}

@media (max-width: 480px) {
    main {
        flex-direction: column
    }
    body {
        font-size: 14px;
    }
    .grid-container {
        grid-template-columns: 1fr;
    }
}

header, footer {
    background-color: #b7e0f5;
    color: white;
    padding: 20px;
    text-align: center;
}

.container {
    display: flex;
    gap: 20px;
    margin: 20px;
}

.column {
    flex: 1;
    background-color: white;
    border: 1px solid #ccc;
    padding: 16px;
    border-radius: 8px;
}

nav {
    transition: 0.3s ease;
}

nav.show-nav {
    opacity: 1;
    pointer-events: auto;
}
nav {
    opacity: 0;
    pointer-events: none;
}

body.dark {
    background-color: #030021;
    color: #eee;
}

body.dark nav a {
    color: #fff;
}